/*
 -------------------------------------------------------------------------------
 --- HIDE DEFAULT BRANDING                                                   ---
 -------------------------------------------------------------------------------
*/

div#collabnet {
    display: none;
}

div.topline {
    display: none;
}

div#toptabs {
    display: none;
}

div#breadcrumbs {
    display: none;
}

td#navcol {
    display: none;
}

div#apphead {
    display: none;
}

p.tasknav {
    display: none;
}

table.axial {
    display: none;
}

div#footer {
    display: none;
}


/*
 -------------------------------------------------------------------------------
 --- OVERRIDE DEFAULT STYLE                                                  ---
 -------------------------------------------------------------------------------
*/

body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: "Courier New", Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}


/*
 -------------------------------------------------------------------------------
 --- STYLE FOR HEADER                                                        ---
 -------------------------------------------------------------------------------
*/

#loginbar {
	background: #5b83a9;
	padding: 3px 8px 3px 8px;
	font-size: 10px;
	color: #c7e4f2;
}

#loginbar_message {
	float: left;
}

#loginbar_login {
	float: right;
}

#loginbar_clear {
	clear: both;
}
