/*
 -------------------------------------------------------------------------------
 --- HIDE DEFAULT BRANDING                                                   ---
 -------------------------------------------------------------------------------
*/

div#collabnet {
    display: none;
}

div.topline {
    display: none;
}

div#toptabs {
    display: none;
}

div#breadcrumbs {
    display: none;
}

td#navcol {
    display: none;
}

div#apphead {
    display: none;
}

p.tasknav {
    display: none;
}

#projecthome .axial {
    display: none;
}

div#footer {
    display: none;
}


/*
 -------------------------------------------------------------------------------
 --- OVERRIDE DEFAULT STYLE                                                  ---
 -------------------------------------------------------------------------------
*/

body, h1, h2, h3, h4, h5, h6, p, td, table td, input, select { 
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif !important;
}

small, .small, div#footer, #login, .tabs th, .tabs td, #toptabs th, #toptabs td, #bodycol .tabs th, #bodycol .tabs td,	#navcol, input, select, .paginate, .functnbar, .functnbar2, .functnbar3, .functnbar4, #breadcrumbs, .courtesylinks, .colbar, .tasknav, #sidebar, .legend, .bars, #rightcol div.www, #rightcol div.siteinfo, .expandwidget, .collapsewidget, #additemlink {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif !important;
}

body {
    font-size: 13px !important;
}

body, #bodycol, #midcol {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

h2, h3, h4 {
    border: 1px solid #8bb3d9 !important;
    border-bottom: 1px solid #e5f2f8 !important;
    background: #e5f2f8 !important;
    color: #2f4353 !important;
    margin: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

h2 {
    font-size: 13px !important;
}

h3 {
    font-size: 12px !important;
}

th, td { 
    padding: 0px; 
}


/*
 -------------------------------------------------------------------------------
 --- STYLE FOR HEADER                                                        ---
 -------------------------------------------------------------------------------
*/

#header {
    margin-bottom: 10px;
}

#loginbar {
    background: #5b83a9;
    padding: 2px 8px 3px 8px;
    font-size: 10px;
    color: #c7e4f2;
}

div#loginbar a, div#loginbar a:visited {
    color: #c7e4f2 !important;
    text-decoration: underline !important;
}

div#loginbar a:hover {
    color: #ffffff !important;
}

#loginbar_message {
    float: left;
}

#loginbar_login {
    float: right;
}

#loginbar_clear {
    clear: both;
}

#logobar {
        background: url('imgs/header_filler_small.png') repeat-x;
        height: 60px;
}

#logobar img {
    border: 0px;
}

#visualvm_logo {
    float: left;
}

#javanet_logo {
    float: right;
}

#logobar_clear {
    clear: both;
}

#menu {
    font-size: 11px;
    border-top: 1px solid #5b83a9;
    border-bottom: 1px solid #5b83a9;
    background: #b7d4e2;
    padding: 4px 8px 4px 8px;
}

#menu a.menu_link, #menu a.menu_link_minor {
    font-size: 11px;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
}

#menu a.menu_link, #menu a.menu_link:visited {
    font-weight: bold;
    color: #2f4353 !important;
}

#menu a.menu_link_minor, #menu a.menu_link_minor:visited {
    color: #3f5363 !important;
}

#menu a.menu_link:hover, #menu a.menu_link_minor:hover {
    text-decoration: none;
    background: #2f4353;
    color: #c7e4f2 !important;
}


/*
 -------------------------------------------------------------------------------
 --- STYLE FOR FOOTER                                                        ---
 -------------------------------------------------------------------------------
*/

#cfooter {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #8bb3d9;
}

#cfooter_links_container {
	float: left;
	width: 100%;
	margin-right: -99%;
}

#cfooter_links {
        margin-top: 3px;
	margin-right: 272px;
}

#cfooter_logos {
	float: right;
        text-align: right;
	width: 255px;
        border-left: 2px solid #cccccc;
}

#project_links {
    font-size: 11px !important;
    color: #555555 !important;
    text-align: right;
}

#project_links a, #project_links a:visited {
    color: #555555 !important;
    text-decoration: underline !important;
}

#portal_links {
    font-size: 11px !important;
    color: #888888 !important;
    margin-top: 3px;
    text-align: right;
}

#portal_links a, #portal_links a:visited {
    color: #888888 !important;
    text-decoration: none !important;
}

#project_links a:hover, #portal_links a:hover {
    color: black !important;
    text-decoration: underline !important;
}

#cfooter img {
    border: 0px;
    vertical-align: middle;
}

#cfooter_clear {
    clear: both;
}
