#top_div_info {
    background: white url(../images/main_background_1.jpg) no-repeat;
    vertical-align: bottom;
    font-size: 12px !important;
    font-weight: bold;
    color: #555555;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div#apphead {
    display: none;
}

p.tasknav {
    display: none;
}

#projecthome .axial {
    display: none;
}

#header, #bodycol {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

#top_div table {
    border: 0px;
    border-bottom: 1px solid #8bb3d9;
    padding: 0px;
    border-collapse: collapse;
    width: 100%;
}

#top_div_info a, #top_div_info a:visited, #top_div_info a:link.selfref, #top_div_info a:visited.selfref {
    text-decoration: none !important;
}

#top_div_info a:hover {
    color: #f47123 !important;
}

#top_div_links {
    background: #f47123 url(../images/main_links_background.png) repeat-y;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#top_div_links img {
    border: 0px;
    margin-right: 15px;
    vertical-align: middle;
}

#top_div_links a, #top_div_links a:visited {
    display: block;
    white-space: nowrap;
    font-size: 20px;
    text-decoration: none!important;
    color: white!important;
    margin-left: 20px;
    padding: 6px 30px 6px 25px;
}

#top_div_links a:hover {
    color: white !important;
    background: #e36920;
    text-decoration: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 30px 5px 25px;
}


#spotlight {
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    background: #f0f1f2;
}

#spotlight div {
    display: list-item;
    list-style: square inside;
    margin: 0px;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#news p {
    margin: 0px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.news_date {
    /*font-style: italic;*/
    font-weight: bold;
}

p.news_highlight {
    /*background: #f0f1f2;*/
}

#ontheweb {
    padding-top: 5px;
    margin-bottom: 10px;
}

#ontheweb div {
    display: list-item;
    list-style: square inside;
    margin: 0px;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#ontheweb p {
    margin: 0px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.ontheweb_title {
    font-weight: bold !important;
}

p.previous_link {
    text-align: right;
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    font-size: 10px;
}


#subprojects2 th {
    padding: 2px 3px 3px 2px;
    color: #333333 !important;
}

#subprojects2 td {
    padding: 3px;
}

#subprojects2 table {
    padding: 4px;
}

div#contents_hints h3.first {
    margin-top: 0px !important;
}

div#subprojects {
    display:none;
}