/* -----------------------------------------------------------------------------
   --- visualvm.java.net customizations ------------------------------------
   ---
   --- author: Jiri Sedlacek ---------------------------------------------------
   -----------------------------------------------------------------------------
*/


/*
 -------------------------------------------------------------------------------
 --- STYLE FOR CONTENTS                                                      ---
 -------------------------------------------------------------------------------
*/

#contents_div {
    margin: 30px 20px 20px 20px;
    padding: 0px;
}

#contents_contents {
    float: left;
    width: 100%;
    margin-right: -99%;
}

#contents_main {
    margin-right: 243px;
    vertical-align: top;
}

#contents_main_doc {
    margin-right: 0px;
    vertical-align: top;
}

#contents_hints {
    float: right;
    width: 232px;
    vertical-align: top;
}

div#contents_hints h3 {
    color: #2f4353 !important;
}

#contents_clear {
    clear: both;
}

#contents_div a, #contents_div a:visited, #contents_div a:link.selfref, #contents_div a:visited.selfref {
    color: #5b83a9 !important;
    text-decoration: underline !important;
}

#contents_div a:hover {
    color: #f47123 !important;
    text-decoration: underline !important;
}

#contents_hints div a, #contents_hints div a:visited {
    text-decoration: none !important;
    display: list-item;
    list-style: square inside;
    padding: 1px;
    padding-left: 15px;
}

#contents_hints div a:hover {
    text-decoration: none !important;
}

#contents_hints h2, #contents_hints h3 {
    border: 1px solid #f57e37 !important;
    border-bottom: 1px solid #fbc9ac !important;
    background: #fbc9ac !important;
    margin-top: 20px !important;
    margin-bottom: 8px !important;
}

#contents_hints h2.first, #contents_hints h3.first {
    margin-top: 10px !important;
}

#contents_links {
    float: right;
    width: 232px;
    vertical-align: top;
    margin-top: 20px !important;
}